$logoColor: #e0c039;
$logoTextColor: #B99F65;
$navigationColor: #B99F65;
$fontFamilyTrifont: "trifont", serif;
$fontFamilyTriforce: "triforce", serif;
$fontFamilyBoTw: "botwfont", serif;

header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5% 0 5%;

  h1 {
    margin: 0;

    a {
      margin: 0 15px 0 0;
      align-items: center;
      color: $logoTextColor;
      font-weight: normal;
      text-decoration: none;

      &.headerLogo {
        font-family: $fontFamilyTrifont;
        font-size: 30px;
        color: $logoColor;
      }

      &.logoText {
        font-family: $fontFamilyBoTw;
        font-size: 40px;
      }
    }
  }

  div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: $fontFamilyBoTw;
    font-size: 30px;

    a {
      margin: 0 15px 0 0;
      color: #0169A0;
      transition: color 0.5s;
      text-decoration: none;

      &:hover {
        color: $navigationColor;
      }

      &:after {
        background: none repeat scroll 0 0 $navigationColor;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: relative;
        transition: width 0.5s ease 0s, left 0.5s ease 0s;
        width: 0;
      }
      &:hover:after {
        width: 100%;
        left: 0;
      }
    }
  }
}

