$titleColor: #B99F65;
$fontFamilyBoTw: "botwfont", serif;

.presentation {
  padding: 30px 5%;
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Medula One", sans-serif;

  .home-text {
    width: 100%;
    text-align: center;

    h1 {
      margin: auto;
      font-size: 4vw;
      width: 80%;
      font-family: $fontFamilyBoTw;
      color: $titleColor;
      font-weight: normal;
    }

    p {
      font-weight: 300;
      font-size: 35px;
    }

    button {
      margin-top: 20px;
      padding: 15px 20px;
      font-size: 30px;
      border-radius: 10px;
      border: 1px #0169A0 solid;
      cursor: pointer;
      font-family: "Medula One", sans-serif;
      color: #0169A0;
      background-color: white;
      transition: color 0.7s ease 0s, background-color 0.7s ease 0s;

      &:hover {
        background-color: #0169A0;
        color: white;
      }
    }

  }

}