@font-face {
  font-family: triforce;
  src: url("font/triforce.ttf");
}

@font-face {
  font-family: trifont;
  src: url("font/trifont.ttf");
}

@font-face {
  font-family: botwfont;
  src: url("font/breath_of_the_wild.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
